*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-color: rgb(240,240,240);
}
.navbar{
  display: flex;
  justify-content: space-between;
  background-color: rgb(49,49,49);
  padding: 5px;
}
.left-context{
  padding-left: 20px;
  background-color: rgb(49,49,49);
}
.right-context{
  background-color: rgb(49,49,49);
  display: flex;
  gap: 15%;
  padding-right: 30px;
}
.content{
  background-color: rgb(49,49,49);
}
.search{
  text-align: center;
  margin-top: 20px;
  
}
input{
  color: #000;
  background-color: white;
  width: 30%;
  border: 1px solid black;
  outline-color: skyblue;
  height: 19px;
  padding-left: 5px;
}
button{
  background-color: black;
  width: 70px;
  border: none;
  height: 19px;
}
h1,h2, p{
  color: black;
  padding: 5px 10px;
}
a{
  background-color: rgb(49,49,49);
  text-decoration-line: none;
}
.history a{
  background-color: transparent;
  color: #000;
  padding-left: 15px;
}